.header {
  width: 100%;
  min-height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  z-index: 1;
  position: absolute;
  top: 0;
}

.header__logo {
  width: 8.5rem;
  margin-left: 1rem;
}

.header__menu_btn {
  margin-right: 1rem;
}

.header__nav {
  display: none;
}
